#menu
{
	width:100px;
}
#menu a
{
	color:#0088ff;
}
#menu ul
{
	padding:0;
	width:150px;
	border:1px solid;
	margin:0px;
	background:white;
}
#menu li:hover
{
	background:#EDD
}
#menu li.sousmenu:hover
{
	background:#EBB;
}
#menu li.sousmenu
{
	background:url(fleche.gif) 95% 50% no-repeat;
}
#menu ul li
{
	position:relative;
	list-style:none;
	border-bottom:1px solid;
}
#menu ul ul
{
	position:absolute;
	top:-1px;
	left:150px;
	display:none;
}
#menu li a
{
	text-decoration:none;
	padding:4px 0 4px 8px;
	display:block;
	border-left:8px solid #BBB;
	width:84px;
}
#menu ul.niveau1 li.sousmenu:hover ul.niveau2,#menu ul.niveau2 li.sousmenu:hover ul.niveau3
{
	display:block;
}
#menu li a:hover
{
	border-left-color:red;
}
#menu ul ul li a:hover
{
	border-left-color:#00FF00;
}
#menu ul ul ul li a:hover
{
	border-left-color:#0000FF;
}
